@model Calcpad.web.ViewModels.CategoryViewModel
@{
    void getPath(List<CategoryViewModel> path, CategoryViewModel category)
    {
        if (category.Parent != null)
        {
            getPath(path, category.Parent);
            path.Add(category);
        }
    }

    ViewData["Title"] = "Online library - " + Model.Name;
    int categoryId = Model.Id;
    int parentId = Model.Parent == null ? 0 : Model.Parent.Id;
    bool isDev = User.Identity.IsAuthenticated && User.IsInRole(Constants.RoleNames.Developer);
    List<CategoryViewModel> path = new List<CategoryViewModel>();
    if (parentId > 0)
        getPath(path, Model.Parent);
    string q = string.Empty;

}

@section meta{
    <meta name="description" content="Online math and engineering worksheets library">
    <meta name="keywords" content="online,library,math,engineering,worksheets,category">
}
<br />
<h1>Online Library</h1>
<hr />
<partial name="~/Views/Category/_SearchPartial.cshtml" model="q" />
<p>
    @if (parentId > 0)
    {
        <a asp-route-id="1" asp-route-slug="home"><i class="icofont-home mr-2 h4"></i>Home</a>
        foreach (CategoryViewModel category in path)
        {
            string slug = TextHelper.SeoFriendly(category.Name);
            <span>/</span>
            <a asp-route-id="@category.Id" asp-route-slug="@slug">@category.Name</a>
        }
        <span>/ @Model.Name</span>
    }
</p>
<div class="list-group col-lg-6">
    <h2 class="list-group-item list-group-item-secondary h4">
        <i class="icofont-folder-open mr-2 h3"></i>@Model.Name
        <sup class="h5 ml-2"><span class="badge badge-pill badge-secondary">@Model.Count</span></sup>
        @if (isDev && parentId > 0)
        {
            <span class="float-right mt-2 h6">
                <a asp-area="Dev"
                   asp-controller="Category"
                   asp-action="Rename"
                   asp-route-id="@categoryId"
                   class="ml-4 text-dark"><i class="icofont-pencil-alt-2 mr-2 h5"></i>Rename</a>
                @if (Model.Count == 0 && Model.Children.Count() == 0)
                {
                    <a asp-area="Dev"
                       asp-controller="Category"
                       asp-action="Delete"
                       asp-route-id="@categoryId"
                       class="ml-4 text-danger"><i class="icofont-ui-delete mr-2 h5"></i>Delete</a>
                }
            </span>
        }
    </h2>
    @if (Model.Worksheets != null && Model.Worksheets.Any() || isDev)
    {
        <div class="list-group-item">
            <br />
            @foreach (var worksheet in Model.Worksheets)
            {
                string name = worksheet.Title;
                if (name.Length == 0)
                {
                    name = "Unnamed";
                }
                string slug = TextHelper.SeoFriendly(name);
                <p class="ml-4">
                    <a asp-controller="Worksheet"
                       asp-route-id="@worksheet.Id"
                       asp-route-slug="@slug"
                       title="@worksheet.Description"
                       class="text-dark"><i class="icofont-calculator-alt-2 mr-2 text-dark h5"></i>@name</a>
                    @if (isDev)
                    {
                        <span style="float: right">
                            <a asp-area="Dev"
                               asp-controller="Worksheet"
                               asp-action="Update"
                               asp-route-id="@worksheet.Id"
                               title="Edit"
                               class="ml-4"><i class="icofont-pencil-alt-2 mr-2 h5"></i></a>
                            <a asp-area="Dev"
                               asp-controller="Worksheet"
                               asp-action="Delete"
                               asp-route-id="@worksheet.Id"
                               title="Delete"
                               class="ml-2 text-danger"><i class="icofont-ui-delete mr-2 h5"></i></a>
                        </span>
                    }
                </p>
            }
            @if (isDev)
            {
                <p class="ml-4">
                    <a asp-area="Dev"
                       asp-controller="Worksheet"
                       asp-action="Add"
                       asp-route-id="@categoryId"
                       title="Add new worksheet to the current category">
                        <i class="icofont-ui-add mr-2"></i>Add new worksheet
                    </a>
                </p>
            }
        </div>
    }
    @if (Model.Children != null)
    {
        @foreach (var category in Model.Children)
        {
            string slug = TextHelper.SeoFriendly(category.Name);
            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <h3 class="h6">
                    <a asp-route-id="@category.Id"
                       asp-route-slug="@slug"
                       class="text-dark">
                        <i class="icofont-folder mr-2 h4"></i>@category.Name
                    </a>
                </h3>
                <sup class="badge badge-pill badge-secondary">@category.Count</sup>
            </div>
        }
        @if (isDev)
        {
            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <h3 class="h6">
                    <a asp-area="Dev"
                       asp-controller="Category"
                       asp-action="Add"
                       asp-route-id="@categoryId"
                       class="ml-2">
                        <i class="icofont-ui-add mr-2 h6"></i>Add sub-category
                    </a>
                </h3>
            </div>
        }
    }
</div>
<br />
