@model IEnumerable<Calcpad.web.ViewModels.WorksheetListModel>
@{
    void getPath(List<CategoryViewModel> path, CategoryViewModel category)
    {
        if (category.Parent != null)
        {
            getPath(path, category.Parent);
            path.Add(category);
        }
    }
    string q = ViewData["q"]?.ToString();
    if (q == null)
        ViewData["Title"] = "Search";
    else
        ViewData["Title"] = "Search results for: " + q;

    bool isDev = User.Identity.IsAuthenticated && User.IsInRole(Constants.RoleNames.Developer);
}

@section meta{
    <meta name="description" content="Online math and engineering worksheets library">
    <meta name="keywords" content="online,library,math,engineering,worksheets,category">
}
<br />
<h1>Search</h1>
<hr />
<partial name="~/Views/Category/_SearchPartial.cshtml" model="q" />
<p>
    <a asp-action="Index" asp-route-id="1" asp-route-slug="home"><i class="icofont-home h4 mr-2"></i>Home</a>
</p>
<div class="list-group col-12">
    <h2 class="list-group-item list-group-item-secondary h4">
        <i class="icofont-folder-open mr-2 h3"></i>Search results for: "@q"
        <sup class="h5 ml-2"><span class="badge badge-pill badge-secondary">@Model.Count()</span></sup>
    </h2>
    @if (Model != null && Model.Any())
    {
        foreach (var worksheet in Model)
        {
            string name = worksheet.Title;
            if (name.Length == 0)
            {
                name = "Unnamed";
            }
            string slug = TextHelper.SeoFriendly(name);
            CategoryViewModel parent = worksheet.Category;
            while (parent != null)
            {
                name = parent.Name + "/" + name;
                parent = parent.Parent;
            }
            <p class="list-group-item">
                <a asp-controller="Worksheet"
                   asp-action="Index"
                   asp-route-id="@worksheet.Id"
                   asp-route-slug="@slug"
                   title="@worksheet.Description"
                   class="text-dark ml-4"><i class="icofont-calculator-alt-2 mr-2 text-dark h5"></i>@name</a>
                @if (isDev)
                {
                    <span style="float: right">
                        <a asp-area="Dev"
                           asp-controller="Worksheet"
                           asp-action="Update"
                           asp-route-id="@worksheet.Id"
                           title="Edit"
                           class="ml-4"><i class="icofont-pencil-alt-2 mr-2 h5"></i></a>
                        <a asp-area="Dev"
                           asp-controller="Worksheet"
                           asp-action="Delete"
                           asp-route-id="@worksheet.Id"
                           title="Delete"
                           class="ml-2 text-danger"><i class="icofont-ui-delete mr-2 h5"></i></a>
                    </span>
                }
            </p>
        }
    }
    else
    {
        <p class="list-group-item">Sorry, no worksheets found for: "@q". Please, simplify your search or browse the <a asp-action="Index" asp-route-id="1" asp-route-slug="home">online library</a>.</p>
    }
    </div>
<br />
