@model Calcpad.web.ViewModels.WorksheetViewModel
@{
    bool isGet = Context.Request.Method.ToUpperInvariant() == "GET";
    if (isGet)
        ViewData["Title"] = Model.Title + " - input data";
    else
        ViewData["Title"] = Model.Title + " - results";
    int worksheetId = Model.Id;
    int categoryId = Model.Category.Id;
    string slug = TextHelper.SeoFriendly(Model.Category.Name);

    bool isDev = isGet && User.Identity.IsAuthenticated && User.IsInRole(Constants.RoleNames.Developer);
    bool isLocked = !(User.Identity.IsAuthenticated || Model.IsFree);
}
@section meta{
    <meta name="description" content="Online math and engineering calculations worksheets.">
    <meta name="keywords" content="math,engineering,worksheets,online,library,category">
}

@section styles{
    <environment include="Developement">
        <link rel="stylesheet" href="~/css/Calcpad.css">
        <link rel="stylesheet" href="~/css/plot.css">
    </environment>
    <environment exclude="Developement">
        <link rel="stylesheet" href="~/css/Calcpad.min.css">
        <link rel="stylesheet" href="~/css/plot.min.css">
    </environment>
    @if (isLocked)
    {
        <style>
            .calcpad input[name=Var], .calcpad select {
                background-color: #f8f8f8 !important;
                color: #888;
            }
        </style>
    }
}
<br />
@if (isLocked)
{
    <br />
    <div class="card border-danger">
        <div class="card-header bg-danger"><p class="h4 text-white"><i class="icofont-lock"></i> This worksheet is locked!</p></div>
        <div class="card-body">
            <span>Please <a class="lead" asp-area="Identity" asp-page="/Account/Login">Log into</a> your account. If you still don't have one, then <a class="lead" asp-area="Identity" asp-page="/Account/Register">Register</a> and get <span class="lead">free access</span> to all available worksheets.</span>
        </div>
    </div>
}
else
{
    if (isDev)
    {
        <p class="no-print" style="float: right;">
            <a asp-area="Dev"
               asp-controller="Worksheet"
               asp-action="Update"
               asp-route-id="@worksheetId"
               title="Edit"
               class="ml-4">
                <i class="icofont-pencil-alt-2 mr-2 h5"></i>Edit
            </a>
            <a asp-area="Dev"
               asp-controller="Worksheet"
               asp-action="Delete"
               asp-route-id="@worksheetId"
               title="Delete"
               class="ml-4">
                <i class="icofont-ui-delete mr-2 h5"></i>Delete
            </a>
            <a asp-area="Dev"
               asp-controller="Worksheet"
               asp-action="Download"
               asp-route-id="@worksheetId"
               target="_blank"
               title="Download"
               class="ml-4">
                <i class="icofont-download-alt mr-2 h4"></i>Download
            </a>
        </p>
    }
    <p class="no-print">
        <a asp-controller="Category"
           asp-route-id="@categoryId"
           asp-route-slug="@slug"
           title="Go back to parent category">
            <i class="icofont-arrow-left mr-1 h4"></i>@Model.Category.Name
        </a>
        @if (isGet)
        {
            <a href="javascript:document.getElementById('Calculate').submit()" title="Calculate">
                <i class="icofont-play-alt-1 mr-1 ml-4 h5"></i>Calculate
            </a>
            <a href="#" title="Settings"
               data-toggle="modal"
               data-target="#settingsDialog"><i class="icofont-settings-alt mr-1 ml-4 h4"></i>Settings</a>
        }
        else
        {
            <a href="javascript:history.go(-1)"
               title="Go back to input data">
                <i class="icofont-square-left ml-4 mr-1 h5"></i>Input
            </a>
            <a href="javascript:window.print()">
                <i class="icofont-print ml-4 mr-1 h5"></i>Print
            </a>
            <a href="javascript:downloadDocx()"
               title="Download as *.docx file (for Microsoft Word)">
                <i class="icofont-download ml-4 mr-1 h5"></i>Download Docx
            </a>
        }
    </p>
}
@if (isGet)
{
<form id="Calculate" asp-action="Index" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Title">
    <input type="hidden" asp-for="@Model.Category.Id">
    <input type="hidden" asp-for="@Model.Category.Name">
    <input type="hidden" asp-for="@Model.IsFree">
    @if (isLocked)
    {
        <div class="Calcpad locked">@Html.Raw(Model.Html)<div class="more"></div></div>
        <br />
    }
    else
    {
        <div class="Calcpad">@Html.Raw(Model.Html)</div>
    }

    <br />
    <partial name="~/Views/Shared/_SettingsPartial.cshtml" for="Settings" />
        <button type="submit" class="btn btn-primary m-3"><i class="icofont-play-alt-2 mr-1"></i>Calculate</button>
</form>
}
else
{
    if (isLocked)
    {
        <div class="Calcpad locked">@Html.Raw(Model.Html)<div class="more"></div></div>
        <br />
    }
    else
    {
        <div class="Calcpad" id="HtmlContent">@Html.Raw(Model.Html)</div>
    }
    <form id="Download" asp-action="Download" asp-route-id="@Model.Id" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" name="title" value="@Model.Title" />
        <input type="hidden" name="html" id="HtmlInput" />
    </form>
    <a href="javascript:history.go(-1)"
       title="Go back to input data"
       class="no-print btn btn-primary m-3"><i class="icofont-square-left mr-1 h5"></i>Input</a>
}
<br />
<br />
@section Scripts{
    <environment include="Developement">
        <script src="~/js/calcpad/fold.js"></script>
        <script src="~/js/calcpad/select.js"></script>
        <script src="~/js/calcpad/units.js"></script>
    </environment>
    <environment exclude="Developement">
        <script src="~/js/calcpad/fold.min.js"></script>
        <script src="~/js/calcpad/select.min.js"></script>
        <script src="~/js/calcpad/units.min.js"></script>
    </environment>
    @if (!isLocked)
    {
        <script>
            function downloadDocx() {
                document.getElementById('HtmlInput').value = document.getElementById('HtmlContent').innerHTML;
                document.getElementById('Download').submit();
            }
        </script>
    }
}
