@model Calcpad.web.ViewModels.ArticleViewModel
@using Calcpad.web.ViewComponents
@using Ganss.XSS
@{
    ViewData["Title"] = "Online help - " + Model.Title;
 bool isAdmin = User.Identity.IsAuthenticated && User.IsInRole(Constants.RoleNames.Administrator);
}

@section meta{
    <meta name="description" content="Online math and engineering worksheets library">
    <meta name="keywords" content="online,library,math,engineering,worksheets,category">
}
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/help.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/help.min.css">
    </environment>
}
<div class="row">
    <div class="col-sm-8">
        <br />
        <p class="text-secondary float-right"><small>Topic: </small>@Model.Topic.Name</p>
        <p class="text-secondary">Online Help</p>
        <hr />
        @if (isAdmin)
        {
            <div class="float-right">
                <a asp-area="Admin"
                   asp-controller="Article"
                   asp-action="Update"
                   asp-route-id="@Model.Id"
                   title="Edit"
                   class="ml-4 text-primary">
                    <i class="icofont-pencil-alt-2 mr-2 h5 text-primary"></i>Edit
                </a>
                <a asp-area="Admin"
                   asp-controller="Article"
                   asp-action="Delete"
                   asp-route-id="@Model.Id"
                   title="Delete"
                   class="ml-2 text-danger">
                    <i class="icofont-ui-delete mr-2 h5 text-danger"></i>Delete
                </a>
            </div>
        }
        <h2>@Model.Title</h2>
        <br />
        @Html.Raw(new HtmlSanitizer().Sanitize(Model.Html))
        <br />
    </div>
    <div class="col-sm-4">
        @await Component.InvokeAsync(nameof(HelpTopics), new { topicId = Model.TopicId, articleId = Model.Id })
    </div>
</div>
@section Scripts{
    <environment include="Developement">
        <script src="~/js/help.js"></script>
    </environment>
    <environment exclude="Developement">
        <script src="~/js/help.min.js"></script>
    </environment>
}